<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>476041552524-3d5isikfld59djbm2h3pr9jfjgjrhl4m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.476041552524-3d5isikfld59djbm2h3pr9jfjgjrhl4m</string>
	<key>API_KEY</key>
	<string>AIzaSyBWNADA7ChEsDUfyJuc0wtIR3dt3RxRwKI</string>
	<key>GCM_SENDER_ID</key>
	<string>476041552524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pocVideo</string>
	<key>PROJECT_ID</key>
	<string>pocvideo-dfc1a</string>
	<key>STORAGE_BUCKET</key>
	<string>pocvideo-dfc1a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:476041552524:ios:c5c525087521f449c0d1a9</string>
</dict>
</plist>